/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */


.textField{
	-fx-background-color: transparent;
	-fx-control-inner-background: transparent;
	-fx-text-fill: black;
}




.textField .scroll-pane{
	-fx-background-color: transparent;
}

.textField .scroll-pane .viewport{
	-fx-background-color: transparent;
}

.textField .scroll-pane .content{
	-fx-background-color: transparent;
}

